<!-- app/views/products/filter.html.erb -->
<div class="container">
  <%= form_tag(filter_books_path, method: :get, id: 'filter-form', class: 'mb-4') do %>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label" for="filter">Filter By:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <%= select_tag(:filter, options_for_select({ 'Recently_updated' => 'recently_updated', 'On_sale' => 'on_sale' }, params[:filter]), include_blank: 'All', id: 'filter-select', class: 'select' ) %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="notification">
    <% if params[:filter].present? %>
      <% if params[:filter] == 'recently_updated' %>
        <% if @books.empty? %>
          <h3>No Recently Updated Books Found</h3>
        <% else %>
          <h3>Filter: Recently Updated Products</h3>
        <% end %>
      <% elsif params[:filter] == 'on_sale' %>
        <% if @books.empty? %>
          <h3>No Books on Sale Found</h3>
        <% else %>
          <h3>Filter: Books on Sale</h3>
        <% end %>
      <% end %>
    <% else %>
      <h3 class="title is-5">All Books</h3>
    <% end %>
  </div>

  <div class="columns is-multiline">
    <% @books.each do |book| %>
      <div class="column is-4">
        <%= render book %>
      </div>
    <% end %>
  </div>

  <%= paginate @books %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const filterForm = document.getElementById('filter-form');
    filterForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'filter-select') {
        filterForm.submit();
      }
    });
  });
</script>
