<iv>
<h1>Books</h1>

<% if @association_name %>
  <h2>Books in <%= @association_name %> genre</h2>
<% end %>

<% @books.each do |book| %>
  <%= render partial: 'book', locals: { book: book } %>
<% end %>
