<!-- app/views/products/filter.html.erb -->
<div>
   <%= form_tag(filter_books_path, method: :get, id: 'filter-form') do %>
            <label for="genre">Filter By:</label>
              <%= select_tag(:filter, options_for_select({ 'Recently_updated' => 'recently_updated', 'On_sale' => 'on_sale' }, params[:filter]), include_blank: 'All', id: 'filter-select') %>
          <% end %>

 <div>
  <% if params[:filter].present? %>
    <% if params[:filter] == 'recently_updated' %>
      <% if @books.empty? %>
        <h3>No Recently Updated Books Found</h3>
      <% else %>
        <h3>Filter: Recenly Updated Products</h3>
      <% end %>
    <% elsif params[:filter] == 'on_sale' %>
      <% if @books.empty? %>
        <h3>No Books on Sale Found</h3>
      <% else %>
        <h3>Filter: Books on Sale</h3>
      <% end %>
    <% end %>
  <% else %>
    <h3 class="title is-5">All Books</h3>
  <% end %>

  <div>
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </div>
 </div>
</div>


<script>
 const filterForm = document.getElementById('filter-form');
    filterForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'filter-select') {
        filterForm.submit();
      }
    });
</script>