<div>
<h1>Books</h1>

 <% if @genre %>
        <h2>Books in Genre: <%= @genre.name %></h2>
         <div>
        <% @books.each do |book| %>
            <%= render book%>
        <%end%>
        </div>
 <% else %>
        <h2>All Books</h2>
         <div>
        <% @books.each do |book| %>
                <%= render book%>
        <%end%>
         </div>
  <%end%>


    <% if @books.empty? %>
        <h3>No books found in <%= @association_name %>.</h3>
    <% end %>

</div>
